@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: arial;
    list-style: none;
    text-decoration: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

.header {
    height: 50px;
    width: 100%;
    background-color: #b1d4e0;
    display: flex;
    align-items: center;
    position: fixed;
    
    
    /* justify-content: center; */
}

.navbar {
    height: 35px;
    width: 100%;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    display: none;
}

.hamburger{
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.name {
    padding: 0 0 0 6px;
}

.profile {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-size: cover;
}

.links {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 10px;
    color: #000000;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.links:hover {
    background-color: #000000;
    color: #ffffff;
}

.section {
    display: flex;
    gap: 60px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    height: 85vh;
    width: 95vw;
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intro{
    width: 40vw;
    padding: 15px;
}

.hllo{
    font-size: 1.8rem;
}

.namee{
    display: flex;
    margin: 15px 0 0 0;
}

.n1{
    font-size: 1.2rem;
    margin-top: 2.5px;
}

.n2{
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 6px;
    color: #145DA0;
}

.msg{
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: "Barlow Condensed", sans-serif;
}

.skls{
    display: flex;
    margin-top: 20px;
    z-index: -1;
}

.text{
    position: relative;
}

.first-text{
    font-size: 1.2rem;
    margin-top: 2px;
    
}

.sec-text{
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 6px;
    color: #145DA0;
}

.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-left: 3px solid #ff0000; 
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.btn{
    height: 30px;
    width: 120px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 37px;
    background-color: #2E8BC0;
    color: #0C2D48;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    cursor: pointer;
}

.btn:hover{
    border: 2px solid #0c2d48;
    color: #2E8BC0;
    background-color: #ffffff;
}

.img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url(prem.jpg);
    background-size: cover;
    box-shadow: 0 0 30px #000000;
}

@media screen and (max-width: 790px) {

    .section {
        display: none;
    }

    .sidebar {
        display: grid;
        place-items: center;
        padding: 10px 20px 1000px 10px;
        gap: 40px;
        top: 50px;
        right: 0;
        position: fixed;
        background-color: rgba(177, 212, 224, 0.4);
        backdrop-filter: blur(3px);
        box-shadow: -3px 0px 20px rgb(55, 55, 55);
        transition: transform 0.15s ease-in;
    }

    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
        cursor: pointer;
    }

    .sidebarlinks {
        height: 40px;
        width: 170px;
        padding: 0 0 0 10px;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 600;
        color: #000000;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .sidebargo{
        transform: translate(250px, 0);
        position: absolute;
    }

    .sidebarlinks:hover{
        background-color: #000000;
        color: #ffffff;
    }
}

@media screen and (max-width: 690px){
    .main{
        display: grid;
        place-items: center;
    }

    .intro{
        width: 70vw;
        display: grid;
        place-items: center;
    }

    .img{
        margin-top: 100px;
    }
}

@media screen and (max-width: 400px){

    .sidebarlinks{
        font-size: 1rem;

    }

    .hllo{
        font-size: 1.4rem;
    }

    .n1{
        font-size: 0.9rem;
    }

    .n2{
        font-size: 1rem;
    }

    .msg{
        font-size: 1rem;
    }

    .first-text{
        font-size: 0.9rem;
    }

    .sec-text{
        font-size: 1rem;
    }

    .btn{
        height: 25px;
        width: 110px;
        font-size: .9rem;
    }

    .img{
        height: 180px;
        width: 180px;
        margin-top: 70px;
    }
}

@media screen and (max-height: 300px){
    .main{
        margin-top: 350px;
    }
}



/* #home{
    height: 40px;
    width: 55px;
    background-color: #000000;
} */

/* .links{
    padding: 30px;
}

.sidebar{
    display: none;
}

@media Screen and (max-width: 726px){
    .sidebar{
        display: block;
    }

    .links{
        display: none;
    }
} */